<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>条件渲染</title>
  <script src="../js/vue.js"></script>
</head>
<body>
  <div id="root">
    <h2>当前的值是{{n}}</h2>
    <button @click="n++">点我+1</button>
    <!-- 用v-show做条件渲染 -->
    <!-- <p v-show="true">欢迎来到{{name}}</p>
    <p v-show="false">欢迎来到{{name}}</p> -->

    <!-- 用v-if做条件渲染 -->
    <!-- <p v-if="true">欢迎来到{{name}}</p>
    <p v-if="false">欢迎来到{{name}}</p> -->

    <!-- <div v-show="n===1">👵</div>
    <div v-show="n===2">🧓</div>
    <div v-show="n===3">👳‍♀️</div> -->
    
    <!-- 当有多个结构显示条件一致 强行包上div再加上v-if 会破坏结构 可以使用template -->
   <!--  <div v-if="n===1">
      <p>haha</p>
      <p>hihi</p>
      <p>hehe</p>
    </div> -->
    <template v-if="n===1">
      <p>haha</p>
      <p>hihi</p>
      <p>hehe</p>
    </template>
  </div>
  <script type="text/javascript">
    Vue.config.productionTip = false

    new Vue({
      el:'#root',
      data(){
        return{
          n:1,
          name:'王者荣耀'
        }
      }
    })
  </script>
</body>
</html>
<!-- 条件渲染
  1.v-if
    写法：v-if="xxx" v-else-if="xxx" v-else="xxx"
    适用于：切换频率较低的场景
    特点：不展示的DOM元素直接元素
    注意：v-if可以和v-else-if、v-else一起使用 但结构不能被打断
  2.v-show
    写法：v-show="xxx"
    适用于切换频率较高的场景
    特点：不展示DOM元素未被移除，仅仅是样式被隐藏掉 
  3.备注：
    使用v-if时，元素可能无法获取到，而使用v-show一定可以获取到
 -->